/* You can add global styles to this file, and also import other style files */

.stretch {
  align-items: stretch;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.mb-30 {
  margin-bottom: 30px;
}
.mr-30 {
  margin-right: 30px;
}
